$color-grey : #b2b2b2;
$color-grey-2: #656565;
$color-grey-3: #e5e5e5;
$color-grey-4: #7f7f7f;
$color-blue: #c0f5fb;
$color-grey-hover : #7f7f7f;
$color-selected : #323232;
$color-black : #191919;
$color-white : #fff;
