@import "mixin";
@import "typography";
@import "colors";

#contact {
    @include bg-black;
    font-family: $regular;
    color:$color_grey_3;
}

#contact span {
    height: 80px;
    text-align: right;
    display: block;
    img {
        width:22px;
        height:22px;
        position:relative;
        top:50%;
        }
    a { opacity: 0.4;
    &:hover { opacity: 1;
    } }
}

#contact {
    h1, h2 {
        text-transform: capitalize;
        font-size: em(23px);
        color: $color_white;
        }
    hr {
        width: 18px;
        line-height: 2px;
        border:0 0 2px 0;
        border-style:solid;
        border-color:$color_grey_3;
        margin: 20px 0 20px 0;
    }
    p {
      font-size: em(14px);
      margin-bottom: 20px;
      max-width: 90%;
      line-height: 16px;
      }
    li { font-size: em(14px); }
}

#contact a {
    color:$color_blue;
    &:hover {text-decoration: underline;}
}

.equal { display:table; }
.row { display:table-row; }
.row article {
    display:table-cell;
    padding:0 0 80px 0;
    }
