@import "mixin";
@import "typography";
@import "colors";

footer 
{
	@include bg-blue;
  color:$color_grey;
  font-family: $regular;
	text-align: center;
	height: 110px;
  width: 100%;
  bottom: 0;
 
ul 
  {
    position: relative;
    top:25px;
   li
    {
       font-size: em(12px);
       list-style: none;	
       padding:6px;
    a 
      {
        text-decoration: none;
        color: $color_grey;
      }
    }
  }  

ul:nth-child(2)
  { 
   li
    {
      display: inline;
      padding:10px;
      opacity: 0.5;
   &:hover
     { 
      opacity:1;
      transition-duration:2s;  
     }
    }
  }    
  
section 
  {
	 vertical-align:middle;
	 display:inline-block;
	 line-height: 1.1;
  }
}  