@import "mixin";
@import "typography";
@import "colors";

header
{
 font-size: $small-font-size;
 font-family: $regular;
 color: $color_grey; 
 text-transform: uppercase;
 @include bg-blue;
 height:60px;
 line-height:60px;	

 
 img,ul
  {
	vertical-align:middle;
	display:inline-block;
  }
	
  aside 
  {
	min-width:10%;
	float:left;
 margin-left:10px;
  }

  nav 
  {
	max-width: 90%;	
	float:right;
  margin-right: 10px;
  li 
    {
	display: inline;
	margin:0 5px 0 5px;
	&.selected a{color:$color_selected}
    a {color:$color_grey;text-decoration: none;}
    a:hover {color:$color_grey_hover;transition-duration:1s} 
}
}
} 
