@import "compass/reset";
@import "typography";
@import "header";
@import "contact";
@import "portfolio";
@import "footer";
@import "colors";

body { @include bg-grey;}

a { text-decoration: none; }

@media all and (min-width:1060px) {
  header section,.mosaic,#projets, footer section, .intro+aside { margin: auto; width: 1060px; }
  .equal, #contact span{ margin: auto; width: 940px;}
  #contact address { display: none; }
  .intro img { height: auto; max-width: 100%; }
  .mosaic img { height: 338px; width: 510px; }
  .mosaic article:nth-child(odd) { margin-right: 20px; padding-left: 10px; text-align: left; }
  .mosaic article:nth-child(even) { padding-right: 10px; text-align: right; }
  .mosaic article {display: block; float: left;}
}

@media all and (max-width:1060px) {
  header section,.mosaic,#projets,footer section { margin: auto; max-width: 1060px; }
  .mosaic article { padding: 0 10px; text-align: center; width: 100%;  }
  #contact address { display: none; }
  .intro img { height: auto; max-width: 100%; }
  .mosaic img { height: 338px; width: 510px; }
}

@media all and (max-width:510px) {
  header section, .mosaic,  #projets, footer section { margin: auto; max-width: 510px; }
  .intro { display: none; }
  #contact div { display: none; }
  #contact address { display: inline; position: relative;top: -24px; }
  #contact { height: 60px;padding: 10px; }
  #contact span { height: 40px;}
  header ul { clear: both; float: left; width: 100%; }
  .mosaic article { padding: 0 10px; text-align: center; width: 100%;}
  .mosaic img { height: 198px; width: 300px; }
}


