/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "typography";
@import "header";
@import "portfolio";
@import "footer";
@import "colors";

body {@include bg-grey;}

@media all and (min-width:1060px)
  {
	header section,.portfolio, footer section,  aside:nth-child(2) {width:1060px;margin: auto;}
  section:nth-child(2) { @include bg-blue; aside {  text-align: center; }}
	.portfolio img {width:510px;height:338px;}
  span:nth-child(odd) {text-align: left;padding-left: 10px;margin-right:12px;}
  span:nth-child(even) {text-align: right;padding-right: 10px;}
  }

@media all and (max-width:1060px) 
  {
  	header section,.portfolio,footer section {max-width:1060px;margin: auto;}
    div {width: 100%;text-align: center}
   section:nth-child(2) { @include bg-blue; aside {  text-align: center; }}
	  .portfolio img {width:510px;height:338px;margin-bottom: 18px;}

  }

@media all and (max-width:510px) 
  {
  	header section,.portfolio, footer section {max-width:510px;margin: auto;}
    section:nth-child(2) {display: none;}
  	header ul {clear:both;float:left;width:100%;}
    div {width: 100%;text-align: center}

  	.portfolio img {width:300px;height:198px;}
  }


