@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

/* line 5, ../sass/contact.scss */
#contact {
  background-image: url(../images/pattern-black.png);
  background-repeat: repeat;
  font-family: "Regular", sans-serif;
  color: #e5e5e5; }

/* line 11, ../sass/contact.scss */
#contact span {
  height: 80px;
  text-align: right;
  display: block; }
  /* line 15, ../sass/contact.scss */
  #contact span img {
    width: 22px;
    height: 22px;
    position: relative;
    top: 50%; }
  /* line 21, ../sass/contact.scss */
  #contact span a {
    opacity: 0.4; }
    /* line 22, ../sass/contact.scss */
    #contact span a:hover {
      opacity: 1; }

/* line 27, ../sass/contact.scss */
#contact h1, #contact h2 {
  text-transform: capitalize;
  font-size: 1.4375em;
  color: white; }
/* line 32, ../sass/contact.scss */
#contact hr {
  width: 18px;
  line-height: 2px;
  border: 0 0 2px 0;
  border-style: solid;
  border-color: #e5e5e5;
  margin: 20px 0 20px 0; }
/* line 40, ../sass/contact.scss */
#contact p {
  font-size: 0.875em;
  margin-bottom: 20px;
  max-width: 90%;
  line-height: 16px; }
/* line 46, ../sass/contact.scss */
#contact li {
  font-size: 0.875em; }

/* line 49, ../sass/contact.scss */
#contact a {
  color: #c0f5fb; }
  /* line 51, ../sass/contact.scss */
  #contact a:hover {
    text-decoration: underline; }

/* line 54, ../sass/contact.scss */
.equal {
  display: table; }

/* line 55, ../sass/contact.scss */
.row {
  display: table-row; }

/* line 56, ../sass/contact.scss */
.row article {
  display: table-cell;
  padding: 0 0 80px 0; }
