@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

/* line 6, ../sass/header.scss */
header {
  font-size: 0.75em;
  font-family: "Regular", sans-serif;
  color: #b2b2b2;
  text-transform: uppercase;
  background-image: url(../images/pattern-blue.png);
  background-repeat: repeat;
  height: 60px;
  line-height: 60px; }
  /* line 17, ../sass/header.scss */
  header img, header ul {
    vertical-align: middle;
    display: inline-block; }
  /* line 23, ../sass/header.scss */
  header aside {
    min-width: 10%;
    float: left;
    margin-left: 10px; }
  /* line 30, ../sass/header.scss */
  header nav {
    max-width: 90%;
    float: right;
    margin-right: 10px; }
    /* line 35, ../sass/header.scss */
    header nav li {
      display: inline;
      margin: 0 5px 0 5px; }
      /* line 38, ../sass/header.scss */
      header nav li.selected a {
        color: #7f7f7f; }
      /* line 39, ../sass/header.scss */
      header nav li a {
        color: #b2b2b2;
        text-decoration: none; }
      /* line 40, ../sass/header.scss */
      header nav li a:hover {
        color: #7f7f7f;
        transition-duration: 1s; }
