@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

/* line 6, ../sass/header.scss */
header {
  font-size: 0.75em;
  text-transform: uppercase;
  background-image: url(../images/pattern-blue.png);
  background-repeat: repeat;
  height: 60px;
  line-height: 60px; }
  /* line 15, ../sass/header.scss */
  header img, header ul {
    vertical-align: middle;
    display: inline-block; }
  /* line 21, ../sass/header.scss */
  header aside {
    min-width: 10%;
    float: left; }
  /* line 27, ../sass/header.scss */
  header ul {
    max-width: 90%;
    float: right; }
    /* line 31, ../sass/header.scss */
    header ul li {
      display: inline;
      margin: 0 5px 0 5px; }
