@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

/* line 5, ../sass/header.scss */
header {
  background-image: url(../images/pattern-blue.png);
  background-repeat: repeat;
  height: 60px;
  line-height: 60px;
  font-size: 0.75em;
  font-family: "Regular", sans-serif;
  color: #b2b2b2;
  text-transform: uppercase; }
  /* line 14, ../sass/header.scss */
  header img, header ul {
    display: inline-block;
    vertical-align: middle; }
  /* line 20, ../sass/header.scss */
  header aside {
    float: left;
    min-width: 10%;
    margin-left: 10px; }

/* line 27, ../sass/header.scss */
header nav {
  float: right;
  max-width: 90%;
  margin-right: 10px; }
  /* line 32, ../sass/header.scss */
  header nav li {
    display: inline;
    margin: 0 5px 0 5px; }
    /* line 36, ../sass/header.scss */
    header nav li.selected a {
      color: #7f7f7f; }
    /* line 37, ../sass/header.scss */
    header nav li a {
      color: #b2b2b2; }
    /* line 38, ../sass/header.scss */
    header nav li a:hover {
      color: #7f7f7f; }

/* line 41, ../sass/header.scss */
.intro {
  max-width: 100%;
  height: auto;
  text-align: center; }

/* line 42, ../sass/header.scss */
.intro aside {
  margin: auto !important;
  text-align: center !important; }
