/* line 2, ../sass/portfolio.scss */
section:nth-child(3) {
  padding: 70px 0 70px 0;
  margin: 0 auto;
  margin-bottom: 70px; }
  /* line 7, ../sass/portfolio.scss */
  section:nth-child(3) img {
    margin-bottom: 18px; }
  /* line 9, ../sass/portfolio.scss */
  section:nth-child(3) hr {
    clear: both;
    visibility: hidden; }
