/* line 2, ../sass/portfolio.scss */
.portfolio {
  padding: 70px 0 70px 0;
  margin: 0 auto;
  margin-bottom: 70px; }
  /* line 6, ../sass/portfolio.scss */
  .portfolio img {
    margin-bottom: 18px; }
