/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

/* line 6, ../sass/header.scss */
header {
  font-size: 0.75em;
  font-family: "Regular", sans-serif;
  color: #7f7f7f;
  text-transform: uppercase;
  background-image: url(../images/pattern-blue.png);
  background-repeat: repeat;
  height: 60px;
  line-height: 60px; }
  /* line 16, ../sass/header.scss */
  header img, header ul {
    vertical-align: middle;
    display: inline-block; }
  /* line 22, ../sass/header.scss */
  header aside {
    min-width: 10%;
    float: left; }
  /* line 28, ../sass/header.scss */
  header nav {
    max-width: 90%;
    float: right; }
    /* line 32, ../sass/header.scss */
    header nav li {
      display: inline;
      margin: 0 5px 0 5px; }
      /* line 35, ../sass/header.scss */
      header nav li.selected a {
        color: black; }
      /* line 36, ../sass/header.scss */
      header nav li a {
        color: #7f7f7f;
        text-decoration: none; }
      /* line 37, ../sass/header.scss */
      header nav li a:hover {
        color: black;
        transition-duration: 1s; }

/* line 2, ../sass/portfolio.scss */
section:nth-child(3) {
  padding: 70px 0 70px 0;
  margin: 0 auto;
  margin-bottom: 70px; }
  /* line 7, ../sass/portfolio.scss */
  section:nth-child(3) img {
    margin-bottom: 18px; }
  /* line 9, ../sass/portfolio.scss */
  section:nth-child(3) hr {
    clear: both;
    visibility: hidden; }

@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

/* line 6, ../sass/footer.scss */
footer {
  font-family: "Regular", sans-serif;
  color: #7f7f7f;
  text-align: center;
  height: 110px;
  width: 100%;
  bottom: 0;
  background-image: url(../images/pattern-blue.png);
  background-repeat: repeat; }
  /* line 17, ../sass/footer.scss */
  footer ul {
    top: 25px; }
    /* line 20, ../sass/footer.scss */
    footer ul li {
      font-size: 0.75em;
      list-style: none;
      padding: 6px; }
      /* line 24, ../sass/footer.scss */
      footer ul li a {
        color: #7f7f7f;
        text-decoration: none; }
      /* line 25, ../sass/footer.scss */
      footer ul li a:hover {
        color: black;
        transition-duration: 1s; }
  /* line 33, ../sass/footer.scss */
  footer ul:nth-child(2) li {
    display: inline;
    padding: 10px;
    opacity: 0.5; }
    /* line 38, ../sass/footer.scss */
    footer ul:nth-child(2) li:hover {
      opacity: 1;
      transition-duration: 2s; }
  /* line 46, ../sass/footer.scss */
  footer section {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.1; }

/* line 13, ../sass/screen.scss */
body {
  background-image: url(../images/pattern-grey.png);
  background-repeat: repeat; }

@media all and (min-width: 1060px) {
  /* line 17, ../sass/screen.scss */
  header section, section:nth-child(3), footer section, aside:nth-child(2) {
    width: 1060px;
    margin: auto; }

  /* line 18, ../sass/screen.scss */
  section:nth-child(2) {
    background-image: url(../images/pattern-blue.png);
    background-repeat: repeat; }
    /* line 18, ../sass/screen.scss */
    section:nth-child(2) aside {
      text-align: center; }

  /* line 19, ../sass/screen.scss */
  section:nth-child(3) img {
    width: 510px;
    height: 338px; }

  /* line 20, ../sass/screen.scss */
  article:nth-child(odd) {
    text-align: left;
    padding-left: 10px;
    margin-right: 12px; }

  /* line 21, ../sass/screen.scss */
  article:nth-child(even) {
    text-align: right;
    padding-right: 10px; }

  /* line 22, ../sass/screen.scss */
  article {
    float: left;
    display: block; } }
@media all and (max-width: 1060px) {
  /* line 27, ../sass/screen.scss */
  header section, section:nth-child(3), footer section {
    max-width: 1060px;
    margin: auto; }

  /* line 28, ../sass/screen.scss */
  article {
    width: 100%;
    text-align: center; }

  /* line 29, ../sass/screen.scss */
  section:nth-child(2) {
    background-image: url(../images/pattern-blue.png);
    background-repeat: repeat; }
    /* line 29, ../sass/screen.scss */
    section:nth-child(2) aside {
      text-align: center; }

  /* line 30, ../sass/screen.scss */
  section:nth-child(3) img {
    width: 510px;
    height: 338px;
    margin-bottom: 18px; } }
@media all and (max-width: 510px) {
  /* line 36, ../sass/screen.scss */
  header section, section:nth-child(3), footer section {
    max-width: 510px;
    margin: auto; }

  /* line 37, ../sass/screen.scss */
  section:nth-child(2) {
    display: none; }

  /* line 38, ../sass/screen.scss */
  header ul {
    clear: both;
    float: left;
    width: 100%; }

  /* line 39, ../sass/screen.scss */
  article {
    width: 100%;
    text-align: center; }

  /* line 41, ../sass/screen.scss */
  .portfolio img {
    width: 300px;
    height: 198px; } }
