/* line 17, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../usr/share/koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

/* line 5, ../sass/header.scss */
header {
  background-image: url(../images/pattern-blue.png);
  background-repeat: repeat;
  height: 60px;
  line-height: 60px;
  font-size: 0.75em;
  font-family: "Regular", sans-serif;
  color: #b2b2b2;
  text-transform: uppercase; }
  /* line 14, ../sass/header.scss */
  header img, header ul {
    display: inline-block;
    vertical-align: middle; }
  /* line 20, ../sass/header.scss */
  header aside {
    float: left;
    min-width: 10%;
    margin-left: 10px; }

/* line 27, ../sass/header.scss */
header nav {
  float: right;
  max-width: 90%;
  margin-right: 10px; }
  /* line 32, ../sass/header.scss */
  header nav li {
    display: inline;
    margin: 0 5px 0 5px; }
    /* line 36, ../sass/header.scss */
    header nav li.selected a {
      color: #7f7f7f; }
    /* line 37, ../sass/header.scss */
    header nav li a {
      color: #b2b2b2; }
    /* line 38, ../sass/header.scss */
    header nav li a:hover {
      color: #7f7f7f; }

/* line 42, ../sass/header.scss */
.intro {
  background-image: url(../images/pattern-blue.png);
  background-repeat: repeat; }
  /* line 44, ../sass/header.scss */
  .intro img {
    max-width: 100%;
    height: auto; }
  /* line 48, ../sass/header.scss */
  .intro aside {
    text-align: center;
    border: 1px solid transparent; }

@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

/* line 5, ../sass/contact.scss */
#contact {
  background-image: url(../images/pattern-black.png);
  background-repeat: repeat;
  font-family: "Regular", sans-serif;
  color: #e5e5e5; }

/* line 11, ../sass/contact.scss */
#contact span {
  height: 80px;
  text-align: right;
  display: block; }
  /* line 15, ../sass/contact.scss */
  #contact span img {
    width: 22px;
    height: 22px;
    position: relative;
    top: 50%; }
  /* line 21, ../sass/contact.scss */
  #contact span a {
    opacity: 0.4; }
    /* line 22, ../sass/contact.scss */
    #contact span a:hover {
      opacity: 1; }

/* line 27, ../sass/contact.scss */
#contact h1, #contact h2 {
  text-transform: capitalize;
  font-size: 1.4375em;
  color: white; }
/* line 32, ../sass/contact.scss */
#contact hr {
  width: 18px;
  line-height: 2px;
  border: 0 0 2px 0;
  border-style: solid;
  border-color: #e5e5e5;
  margin: 20px 0 20px 0; }
/* line 40, ../sass/contact.scss */
#contact p {
  font-size: 0.875em;
  margin-bottom: 20px;
  max-width: 90%;
  line-height: 16px; }
/* line 46, ../sass/contact.scss */
#contact li {
  font-size: 0.875em; }

/* line 49, ../sass/contact.scss */
#contact a {
  color: #c0f5fb; }
  /* line 51, ../sass/contact.scss */
  #contact a:hover {
    text-decoration: underline; }

/* line 54, ../sass/contact.scss */
.equal {
  display: table; }

/* line 55, ../sass/contact.scss */
.row {
  display: table-row; }

/* line 56, ../sass/contact.scss */
.row article {
  display: table-cell;
  padding: 0 0 80px 0; }

@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

/* line 5, ../sass/portfolio.scss */
.mosaic, .projet {
  padding: 70px 0 53px 0;
  margin: 0 auto; }

/* line 11, ../sass/portfolio.scss */
.mosaic hr {
  clear: both;
  visibility: hidden; }
/* line 15, ../sass/portfolio.scss */
.mosaic article {
  margin-bottom: 17px; }

/* line 18, ../sass/portfolio.scss */
.projet hr {
  width: 18px;
  line-height: 1px;
  border: 0 0 2px 0;
  border-style: solid;
  border-color: #191919; }
  /* line 24, ../sass/portfolio.scss */
  .projet hr:nth-child(2) {
    margin-top: 3000px; }

/* line 28, ../sass/portfolio.scss */
.projet {
  text-align: center;
  font-family: "Regular", sans-serif; }
  /* line 31, ../sass/portfolio.scss */
  .projet h1 {
    margin: 70px 0 25px 0;
    text-transform: capitalize;
    font-size: 2em;
    color: #191919; }
    /* line 36, ../sass/portfolio.scss */
    .projet h1 + p {
      margin-bottom: 50px;
      font-size: 1em;
      color: #656565;
      max-width: 940px;
      margin: 0 auto; }

/* line 47, ../sass/portfolio.scss */
.projet nav li {
  display: inline;
  padding: 0 10px 0 10px;
  opacity: 0.6; }
  /* line 51, ../sass/portfolio.scss */
  .projet nav li:hover {
    opacity: 1; }

/* line 57, ../sass/portfolio.scss */
.projet ul {
  margin: 20px; }
  /* line 59, ../sass/portfolio.scss */
  .projet ul li {
    font-size: 0.75em;
    color: #656565; }
    /* line 62, ../sass/portfolio.scss */
    .projet ul li a {
      color: #191919;
      text-decoration: none; }
      /* line 65, ../sass/portfolio.scss */
      .projet ul li a :hover {
        text-decoration: underline; }

/* line 71, ../sass/portfolio.scss */
.capture img {
  max-width: 100%;
  height: auto;
  padding: 20px 0 20px 0; }
  /* line 75, ../sass/portfolio.scss */
  .capture img:first-child {
    margin-top: 80px; }

@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

/* line 5, ../sass/footer.scss */
footer {
  background-image: url(../images/pattern-blue.png);
  background-repeat: repeat;
  height: 140px;
  line-height: 140px;
  width: 100%;
  bottom: 0;
  font-family: "Regular", sans-serif;
  color: #b2b2b2;
  text-align: center; }
  /* line 15, ../sass/footer.scss */
  footer section {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.1; }

/* line 22, ../sass/footer.scss */
footer ul {
  display: inline;
  vertical-align: middle; }
  /* line 26, ../sass/footer.scss */
  footer ul li {
    font-size: 0.75em;
    list-style: none;
    padding: 6px; }
  /* line 31, ../sass/footer.scss */
  footer ul a {
    color: #b2b2b2; }
  /* line 32, ../sass/footer.scss */
  footer ul a:hover {
    color: #7f7f7f; }

/* line 37, ../sass/footer.scss */
footer ul:nth-child(2) li {
  display: inline;
  padding: 15px;
  opacity: 0.6; }
  /* line 42, ../sass/footer.scss */
  footer ul:nth-child(2) li:hover {
    opacity: 1; }

/* line 46, ../sass/footer.scss */
address {
  margin-bottom: 20px; }

/* line 10, ../sass/screen.scss */
body {
  background-image: url(../images/pattern-grey.png);
  background-repeat: repeat; }

/* line 12, ../sass/screen.scss */
a {
  text-decoration: none; }

@media all and (min-width: 1060px) {
  /* line 16, ../sass/screen.scss */
  header section, .mosaic, #projets, footer section, .intro + aside {
    width: 1060px;
    margin: auto; }

  /* line 17, ../sass/screen.scss */
  .equal, #contact span {
    width: 940px;
    margin: auto; }

  /* line 18, ../sass/screen.scss */
  #contact address {
    display: none; }

  /* line 19, ../sass/screen.scss */
  .intro img {
    max-width: 100%;
    height: auto; }

  /* line 21, ../sass/screen.scss */
  .mosaic img {
    width: 510px;
    height: 338px; }

  /* line 22, ../sass/screen.scss */
  .mosaic article:nth-child(odd) {
    text-align: left;
    padding-left: 10px;
    margin-right: 20px; }

  /* line 23, ../sass/screen.scss */
  .mosaic article:nth-child(even) {
    text-align: right;
    padding-right: 10px; }

  /* line 24, ../sass/screen.scss */
  .mosaic article {
    float: left;
    display: block; } }
@media all and (max-width: 1060px) {
  /* line 29, ../sass/screen.scss */
  header section, .mosaic, #projets, footer section {
    max-width: 1060px;
    margin: auto; }

  /* line 30, ../sass/screen.scss */
  .mosaic article {
    width: 100%;
    text-align: center; }

  /* line 31, ../sass/screen.scss */
  #contact address {
    display: none; }

  /* line 33, ../sass/screen.scss */
  .intro img {
    max-width: 100%;
    height: auto; }

  /* line 35, ../sass/screen.scss */
  .mosaic img {
    width: 510px;
    height: 338px; } }
@media all and (max-width: 510px) {
  /* line 41, ../sass/screen.scss */
  header section, .mosaic, #projets, footer section {
    max-width: 510px;
    margin: auto; }

  /* line 42, ../sass/screen.scss */
  .intro {
    display: none; }

  /* line 43, ../sass/screen.scss */
  #contact div {
    display: none; }

  /* line 44, ../sass/screen.scss */
  #contact address {
    display: inline;
    position: relative;
    top: -24px; }

  /* line 45, ../sass/screen.scss */
  #contact {
    height: 60px;
    padding: 10px; }

  /* line 46, ../sass/screen.scss */
  #contact span {
    height: 40px; }

  /* line 47, ../sass/screen.scss */
  header ul {
    clear: both;
    float: left;
    width: 100%; }

  /* line 48, ../sass/screen.scss */
  .mosaic article {
    width: 100%;
    text-align: center; }

  /* line 49, ../sass/screen.scss */
  .mosaic img {
    width: 300px;
    height: 198px; } }
